/*.left-spacer {
    margin-left: 10% !important;
}

.product-container {
 
}

.product-image {
    height: 380px;
}

.cart-link {
    position: absolute;
    right: 0;
    height: 48px;
}

.f-right {
    margin-left: 88% !important;
}
    */
.navbar .nav, .navbar .nav > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    *zoom: 1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar-inner {
    text-align: center;
}